body {
    margin: 0;
}
.container {
    width: 1140px;
    margin: 0 auto;
    h3 {
        width: 100%;
        text-align: left;
        border: 1px solid #000;
        padding: 20px;
    }
    #productLayout {
        display : flex;
        justify-content: space-evenly;
        height: auto;
        .productCard {
            img {
                width: 150px;
                height: 200px;
                padding: 5px;
            }
            input {
                width: 50px;
            }
        }
    }
    #shopCartLayout {
        margin: 20px auto;
        #shoppingCart {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }
    #shippingLayout {
        #shipping {
            display: flex;
            flex-direction: column;
            input {
                width: 150px;
                height: 25px;
                margin-bottom: 15px;
            }
        }
    }
    #commentLayout {
        #comment {
        }
    }
    #modal {
        width: 900px;
        height: 600px;
        display: none;
        z-index: 1;
        top: 10px;
        left: 240px;
        position: absolute;
        span {
            font-size: 90px;
            position: absolute;
            &:hover {
                cursor: pointer;
            }
        }
        img {
            width: 900px;
            height: 600px;
        }
        #prevSlide, #nextSlide {
            position: absolute;
            top: 290px;
            left: 0;
            font-size: 50px;
        }
        #nextSlide {
            right: 0;
            left: unset;
        }
    }
}

.row {
    display: flex;
}
.cell {
    border: 1px solid #000;
    width: 100px;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden {
    display: none !important;
}
.nextBtn {
    width: 150px;
    height: 50px;
    font-size: 20px;
    &:after {
        content: 'next';
    }
}