body {
    margin: 0;
}
.container {
    width: 1140px;
    margin: 0 auto;
    #productLayout {
        display : flex;
        justify-content: space-evenly;
        height: auto;
        .productCard {
            img {
                width: 150px;
                height: 200px;
                padding: 5px;
            }
            input {
                width: 50px;
            }
        }
    }
    #shopCartLayout {
        margin: 20px auto;
        display: flex;
        justify-content: center;
    }
    #modal {
        width: 900px;
        height: 600px;
        display: none;
        z-index: 1;
        top: 10px;
        left: 240px;
        position: absolute;
        span {
            font-size: 90px;
            position: absolute;
            &:hover {
                cursor: pointer;
            }
        }
        img {
            width: 900px;
            height: 600px;
        }
    }
}

.row {
    display: flex;
}
.cell {
    border: 1px solid #000;
    width: 100px;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}